body {
  width: 100%;
}

#blocPrincipal {
  width: 100%;
  max-width: 2000px;
}

.ecran {
  height: 92vh;
  width: 100%;
  display: flex;
  border: 1px solid;
  
}

section {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* Tout les écrans*/

/* .ecran{
  
  
} */

/* Tout les écrans*/

.ecran {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 30px 180px;
}

/* ---------------------------------- ecran 1 ---------------------------------- */
.ecran1 {
  

}

/* ---------------------------------- ecran 2 ---------------------------------- */

.ecran2 {

}

/* ecran 3 */

.ecran3 {

}

/* ---------------------------------- ecran 4 */

.ecran4 {
  width: 100%;
}


.contain-portofolio{
  width: 90%;
  height: 90%;
  margin: 0px auto;
  background: lightgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contain-portofolio div{
  width: 30%;
  height: 40%;
  margin: 20px;
  padding: 40px;
  box-shadow: 0 4px 8px 2px #141414;
  border-radius: 10px;
}

.portofolio .photo{
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto 20px auto;

}
.portofolio:nth-child(1) .photo{
  background: lightcoral;
  background-image: url('img1.jpg');
  background-size: cover;
  width: 260px;
  height: 170px;
}

.portofolio:nth-child(2) .photo{
  background: lightblue;
  background-image: url('img2.jpg');
  background-size: cover;
  width: 260px;
  height: 170px;
}

.portofolio:nth-child(3) .photo{
  background: lawngreen;
  background-image: url('img3.jpg');
  background-size: cover;
  width: 260px;
  height: 170px;
}

.portofolio:nth-child(4) .photo{
  background: lightcoral;
  background-image: url('img1.jpg');
  background-size: cover;
  width: 260px;
  height: 170px;
}

.portofolio:nth-child(5) .photo{
  background: lightblue;
  background-image: url('img2.jpg');
  background-size: cover;
  width: 260px;
  height: 170px;
}

.portofolio:nth-child(6) .photo{
  background: lawngreen;
  background-image: url('img3.jpg');
  background-size: cover;
  width: 260px;
  height: 170px;
}

.portofolio h2{
  text-align: center;
  font-weight: bold;
  margin: 20px;
}
.portofolio p{
  text-align: justify;
  color: rgb(54, 54, 53);
}




/* ecran 5 */

.ecran5 {

}

/* ecran 6 */

.ecran6 {

}

/*Cadre Formations et Expériences*/
.cadresEcran1 {
  background: rgb(179, 179, 179);
  background: linear-gradient(0deg, rgba(179, 179, 179, 1) 0%, rgba(138, 165, 206, 1) 0%, rgba(255, 255, 255, 1) 100%);
  height: 10%;
  width: 100%;
  color: #000000;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 40px 0;

}

/* Début Contenu Formations*/
.containEcran1 {
  height: 60%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  width: 80%;
}

/* Fin Contenu Formations*/

/* Début Contenu Experiences professionnel*/
/* .containEcran2 {
  background-color: #a02929;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 10%;
  
} */

 .containEcran2 .txt_exp p{

 }


/* Fin Contenu Experiences professionnel*/

*/ .tableau {
  width: 100%;
  background-color: brown;
}

table {
  display: flex;
  width: 80%;
  justify-content: flex-start;
}

table tbody tr .top {
  font-size: 22px;
  padding: 25px;

}

table tbody tr .space {
  width: 15%;
}

table tbody tr .after {
  width: 5%;
}

/* Début responsive Menu*/
.checkbtn {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

label.logo {
  display: none;
}

@media (max-width:952px) {
  label.logo {
    font-size: 2rem;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 1rem;
  }
}


@media (max-width:858px) {
  .checkbtn {
    display: block;
  }

  .btn1 {
    text-decoration: none;

    font-size: 21px;
    margin: 0 15px;


    color: rgb(207, 3, 3);
  }

  header nav ul {
    flex-direction: column;
  }

  nav {
    padding: 0 20px;
  }

  label.logo {
    width: 90%;
    text-align: center;
  }

  nav ul {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 60vh;
    background: #ffffff;
    /* couleur de fond du menu */
    top: 310px;
    /*gérer içi l'emplacement où s'ouvre le menu, augmenter la valeur pour monter */
    left: -100%;
    text-align: center;
    transition: all .5s;
    width: 100%;
    margin: 0;
  }

  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 2rem;
  }


  header nav ul li a {
    color: #4376c4;
  }

  a:hover,
  a.active {
    background: none;
    color: #0004ff;
    /* couleur des liens du menu */
  }

  #check:checked~ul {
    left: 0;
  }

  #check {
    display: none;
  }

  header img {
    display: none;
  }

}

/*Fin reponsive Menu*/

a {
  width: 150px;
  height: 50px;
  font-size: 16px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

a:hover {
  opacity: 0.99;
}



/** hover 1 */
.btn1 {
  color: #ffffff;
  transition: .3s all;
}

.btn1:before,
.btn1:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  transition: .3s all;
}

.btn1:before {
  left: -17px;
  ;
  border-top: 2px solid #ffffff;
}

.btn1:after {
  right: -17px;
  ;
  border-bottom: 2px solid #ffffff;
}

.btn1:hover {
  font-weight: bold;
  letter-spacing: 2px;
}

.btn1:hover:after,
.btn1:hover:before {
  width: 100%;
}

/** end hover 1*/

/**Formulaire contact**/
.contain-tout {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 20px;


}



.form-container {
  width: 50%;
  height: 100%;
}

#contact-form {
  width: 100%;
  height: 100%;
  padding: 50px 50px;
}




/**Formulaire contact**/



.DL {
  color: #8AA5CE;
  padding: 2px 0;
  
}